<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{%endblock%}</title>
  <link rel="preload" as="font" type="font/woff2" href="/JacquesFrancoisShadow-Regular.ttf" crossorigin="anonymous" />
  <link rel="stylesheet" href="/src/styles/style.css">
  <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>
  {% block header %}
  {% endblock %}
</head>

<body>

  {% block body %}
  {% endblock %}

</body>

</html>
