<header class='header'>
  <button class='header__menubutton' popovertarget='hamburger-menu'>
    <svg width="4rem" height="4rem" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 12.32H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M2 18.32H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M2 6.32001H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <div popover id='hamburger-menu' class='burgermenu'>
    <button popovertarget='hamburger-menu' class="burgermenu__close" popovertargetaction='hide'>

      <svg width="4rem" height="4rem" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 21.32L21 3.32001" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M3 3.32001L21 21.32" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <nav>
      <ul class="burgermenu__links _fancyfont">
        <li><a href="/">domů</a></li>
        <li><a href="/kontakt">kontakt</a></li>
        <li><a href="/ubytovani">ubytování</a></li>
        <li><a href="/galerie">galerie</a></li>
        <li><a href="/okoli">okolí</a></li>
        <li><a href="/conavstivit">co navštívit</a></li>
      </ul>
    </nav>
  </div>
  <h1 class="header__title _fancyfont">
    {{title}}</h1>

</header>
