.header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
}

.header__menubutton,
.burgermenu__close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__menubutton {
  color: var(--color-primary);
  margin-left: 1rem;
  height: 100%;

  &>svg {
    height: 100%;
  }
}

.header__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-right: 5rem;
  font-size: min(3.2em, 10vw);
}

.burgermenu__close {
  color: var(--color-background);
}

.burgermenu {
  z-index: 100;
  /* Closed state transformed off the screen */
  transform: translateX(-100%);
  transition: transform 0.4s, overlay 0.4s ease-out;
  display: block;
  max-width: 400px;
  width: 90vw;
  inset: unset;
  left: 0;
  top: 0;
  height: 100dvh;

  border: none;
  background-color: var(--color-primary);
  color: var(--color-background);

  /* Styles while the menu is open */
  &:popover-open {
    transform: translateX(0);
  }

  /* Backdrop that overlays other content */
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.burgermenu__links {
  padding-left: 3rem;
  list-style: none;
  font-size: 1.8rem;
}
