main {
  text-align: center;
  font-size: 1.3rem;
}

.main__map {
  width: min(400px, 80vw);
  height: min(400px, 80vw);
}

.contactform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
  margin-inline: auto;
}
