@import "normalize.css";
@import "typography.css";
@import "header.css";

:root {
  color-scheme: light dark;

  --color-primary: light-dark(black, white);
  --color-background: light-dark(white, black);
  color: var(--color-primary);
  background-color: var(--color-background);
}
