main {
  font-size: 1.3em;
  margin: auto;
  max-width: 50rem;
}

main p {
  text-align: center;
}

.ubytovani__links {
  /* list-style-image: url("/public/img/link.svg"); */
  margin-inline-start: 2em;
}

.ubytovani__links a {
  text-decoration: underline;
}

.ubytovani__map {
  display: block;
  max-width: 100%;
  margin-inline: auto;
  margin-block: 4rem;
}
