{% extends "./src/templates/base.njk" %}
{% block title %}
Kontakt
{% endblock %}
{%block head%}
<link rel="stylesheet" href="/src/styles/kontakt.css">
{%endblock%}
{%block body%}


<main>
  <p>
    Městský úřad Turnov
    <br>
    Antonína Dvořáka 335
    <br>
    511 01 Turnov
  </p>
  <p>
    Datová schránka: vehbxe9
    <br>
    tel.: 481 366 111
    <br>
    e-mail: mu@turnov.cz
  </p>
  <iframe class="main__map" src="https://mapy.com/s/dojegehedo" width="400" height="400" frameborder="0"></iframe>
</main>

{%endblock%}
