{% extends "./src/templates/base.njk" %}
{% block title %}
Kontakt
{% endblock %}
{%block header%}
{%endblock%}
{%block body%}


<main>
  <p>
    Městský úřad Turnov
    <br>
    Antonína Dvořáka 335
    <br>
    511 01 Turnov
  </p>
  <p>
    Datová schránka: vehbxe9
    <br>
    tel.: 481 366 111
    <br>
    e-mail: mu@turnov.cz
  </p>
  <style>
    me {
      text-align: center;
    }
  </style>
</main>

{%endblock%}
