{% extends "./src/templates/base.njk" %}
{% set title="ubytování"%}
{%block head%}
<link rel="stylesheet" href="/src/styles/ubytovani.css">
{%endblock%}
{%block body%}


<main>
  <p>Hledat ubytování v Turnově na:</p>
  <ul class="ubytovani__links">
    <li><a href="https://www.hotel.cz/turnov/">hotel.cz</a></li>
    <li><a href="https://www.penzion.cz/turnov/">penzion.cz</a></li>
    <li><a href="https://www.booking.com/city/cz/turnov.cs.html">booking.com</a></li>
  </ul>
  <iframe class="ubytovani__map" src="https://mapy.com/s/begukalore" width="400" height="400" frameborder="0"></iframe>
</main>

{%endblock%}
